{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- bootsrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- custom css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

  <!-- Owl Corousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <!-- alertify css -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

  <!-- Jquery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

  <!-- It is required for working of tawk.to -->
  <meta name="referrer" content="no-referrer-when-downgrade">

  <title>
    {% block title %}
      Go Cart
    {% endblock title %}
  </title>
</head>

<body>
  {% include 'store/inc/navbar.html' %}

  {% block content %}
  {% endblock content %}


  

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- jQuery UI -->
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <!-- Boostrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/49386ccc8d.js" crossorigin="anonymous"></script>
  
  <!-- custom Js -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/javascript.js' %}"></script>

  <!-- Owl Corousel -->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>

  <!-- Alertify Js -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  <!-- Sweet Alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
    alertify.set('notifier', 'position', 'top-left');
    {% for msg in messages %}
    alertify.{{ msg.tags }} ('{{msg}}');
    {% endfor %}
  </script>
  
  {% block scripts %}
  {% endblock scripts %}

  <script src="{% static 'js/checkout.js' %}"></script>
</body>
</html>