{% extends 'store/layouts/main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Collections</h1>
            <hr>
            <div class="row">
                {% for item in category %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body" style="height: 220px;">
                            <img src="{{item.image.url}}" class="w-100 h-100">
                        </div>
                        <div class="card-footer">
                            <h4 class="card-text text-center">{{item.name}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}