@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap");
* {
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.bread_scrumb{
  margin-bottom: 30px;
}
.tag{
  font-size: 16px;
  float: right;
  color: white;
}
.active{
  font-weight: 600;
}
/* @media screen and (max-width:770px){
  .cart-prod-image{
    display: none;
  }
} */
.checkoutform label{
  font-size: 14px;
  font-weight: 600;
}
.checkoutform input{
  font-size: 14px;
}