@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap");
* {
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.tag{
  font-size: 16px;
  float: right;
  color: white;
}
.active{
  font-weight: 600;
}
.checkoutform label{
  font-size: 14px;
  font-weight: 600;
}
.checkoutform input{
  font-size: 14px;
}
.input-group{
  max-width: 130px; 
  min-width: 107px;
}