{% extends 'layouts/main.html' %}
{% block title %}
    My Wishlist
{% endblock title %}
{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="mb-0 text-center">My Wishlist</h3>
                    </div>
                    <div class="card-body" id="whislistdata">
                    {% if wishlist %}
                    <div class="table-responsive">
                        <table class="table align-middle ">
                            <tbody>
                                {% for item in wishlist %}
                                <tr class="product_data">
                                    <td class="text-nowrap"><img src="{{item.product.product_image.url}}" class="mh-100" width="70px" alt=""></td>
                                    <td class="text-nowrap"><h6>{{item.product.name}}</h6></td>
                                    <td class="text-nowrap">&#8377 {{item.product.selling_price| stringformat:'d'}}</td>
                                    <td class="text-nowrap">
                                        <!-------------------------------------------------------- Ajax --------------------------------------------------->
                                        <input type="hidden" class="prod_id" value="{{item.product_id}}">
                                        {% csrf_token %}
                                        <!----------------------------------------------------------------------------------------------------------------->
                                        <a href="{% url 'productView' item.product.category.slug item.product.slug %}" class="btn btn-primary"><i class="fa fa-eye"></i> View Item</a>
                                    </td>
                                    <td class="text-nowrap">
                                        <button class="btn btn-danger delete-wishlist-item"><i class="fa fa-trash"></i> Remove</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <h4 class="text-center">Your wishlist is empty</h4>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 