{% extends 'layouts/main.html' %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>User Registration</h4>
                            </div>
                            <hr>
                            <div class='mb-3'> 
                                <label class="form-label">UserName </label>
                                {{form.username}}
                                {% if form.errors.username %}
                                <label class="text-danger">{{form.errors.username}}</label>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email </label>
                                {{form.email}}
                                {% if form.errors.email %}
                                <label class="text-danger">{{form.errors.email}}</label>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password </label>
                                {{form.password1}}
                                {% if form.errors.password1 %}
                                <label class="text-danger">{{form.errors.password1}}</label>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password </label>
                                {{form.password2}}
                                {% if form.errors.password2 %}
                                <label class="text-danger">{{form.errors.password2}}</label>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between flex-wrap-reverse">
                                <div>
                                    Already have an account? <a href="{% url 'loginpage' %}">Login here</a>
                                </div>
                                <div class="mb-2">
                                    <button type="submit" class="btn float-start shadow btn-success px-4">Register</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}